{% extends "account.html" %}

{% block main %}
    <style>
        .container {
            margin-left: auto;
            margin-right: auto;
            position: relative;
            margin-top: 20px;
            width: 400px;
            height: auto;
            border-radius: 20px;
            padding: 40px;
            padding-top: 10px;
            box-sizing: border-box;
            background: #ffffe0;
            box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
        }
        .container textarea {
            font-family: Vazirmatn;
            background-color: #fffde7;
            padding: 10px;
            border-radius: 50px;
            border-top-right-radius: 0%;
            padding-left: 20px;
            font-size: 14px;
            box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
            resize: none;
        }
        .container button {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <div class="container">
        <form action="" method="post">{% csrf_token %}
            <label>شماره تیکت: {{ ticket_id }}</label><br>
            <label>پاسخ: </label>
            <textarea name="answer" cols="40" rows="6">{{ last_answer }}</textarea><br>
            <button type="submit">ثبت</button>
        </form>
    </div>
{% endblock %}