{% extends "account.html" %}

{% block main %}
<style>
.container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 40%;
    height: auto;
    font-size: 110%;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
@media screen and (max-width: 600px) {
    .container {
        width: 70%;
        font-size: 80%;
    }
}
.container label, .container input, .container button {
    font-family: Vazirmatn;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.container input[type="radio"] {
    width: auto;
    height: auto;
    box-shadow: none;
}

.container label {
    margin-bottom: 4px;
}

.container label:nth-of-type(2) {
    margin-top: 12px;
}

.container input::placeholder {
    color: gray;
}

.container input {
    direction: ltr;
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    caret-color: red;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.container button {
    color: white;
    margin-top: 20px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}
.container button:hover {
    box-shadow: none;   
}

.radio_btn {
    height: auto;
    width: auto;
    box-shadow: none;
}
</style>
    {% if class_choices %}
        {% if students_list %}
            <table border="1">
                <thead>
                    <tr>
                        <th>کاربر</th>
                        <th>نام و نام خانوادگی</th>
                        <th>اقدامات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students_list %}
                        <tr>
                            <td>{{ student.user }}</td>
                            {% for i in users %}
                                {% if i == student.user %}
                                    <td>{{ i.first_name }} {{ i.last_name }}</td>
                                {% endif %}
                            {% endfor %}
                            <td><a href="/account/manage-scores/{{ teacher_subject }}/{{ student.user }}">ویرایش</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="container">
                <form action="" method="get">
                    {% for choice in class_choices %}
                        <label for="{{ choice }}">{{ choice }}</label>
                        <input type="radio" name="class_subject_choice" value="{{ choice }}" class="radio_btn" id="{{ choice }}">
                        <br>
                    {% endfor %}
                    <button type="submit">تایید</button>
                </form>
            </div>
        {% endif %}
    {% else %}
        <p>شما در هیچ کلاسی ثبت نشده اید.</p>
        <p>لطفا برای پستیبانی یک تیکت را ارسال کنید یا به مدیریت مدرسه اطلاع دهید</p>
    {% endif %}
    
{% endblock %}
