{% extends 'home.html' %}

{% block information %}{% endblock %}
{% block homec1 %}
    <style>
        .text {
            width: 60%;

        }
    </style>
    <div class="text"><h1>مدرسه شهدای فرهنگی</h1><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aperiam, inventore commodi totam dolor mollitia quas numquam veniam dolorem praesentium, laudantium, necessitatibus dignissimos corporis cumque officiis hic. Illo distinctio et rerum adipisci libero natus omnis quisquam saepe repellendus beatae autem est temporibus perferendis provident aspernatur, vel, ipsum, nisi harum aperiam rem corporis? Mollitia officiis, natus cupiditate reprehenderit animi esse placeat? Pariatur distinctio earum saepe minus assumenda sequi, possimus, vel iusto quisquam voluptatem iste optio, quos tempore. Quidem qui culpa odio! Autem mollitia velit consequuntur quidem praesentium explicabo dicta nobis. Aspernatur architecto eveniet cupiditate dolores fugit odio eligendi tempore cumque.</div>
{% endblock %}