{% extends "base.html" %}
    
{% block header %}
    <style>
        .about {
            bottom: 10px;
            white-space: nowrap;
            opacity: 0;
            margin-right: 2%;
            animation: about 7s linear;
            animation-iteration-count: 2;
        }
        @keyframes about {
            0% {
                transform: translate(20%);
                opacity: 100%;
            }
            90% {opacity: 100%;}
            100% {
                opacity: 0;
                transform: translate(-100%);
            }
        }
    </style>
    <hr>
    <div class="about">
        <p>اطلاعات مدرسه در اینجا نمایش داده میشوند</p>
    </div>
{% endblock %}
{% block navbar %}
    {% if user.is_authenticated %}
        <a href="/account">حساب کاربری</a>
    {% else %}
        <a href="/login">ورود به سامانه</a>
    {% endif %}
{% endblock %}
{% block content %}
<style>
    .notifications {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        float: right;
        width: 380px;
        margin-top: 2%;
        height: auto;
        border-radius: 20px;
        padding: 40px;
        box-sizing: border-box;
        background: #72acd8;
        box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    }
    .notif {
        margin-left: auto;
        position: relative;
        width: 300px;
        margin-top: 2%;
        height: auto;
        border-radius: 20px;
        padding: 20;
        box-sizing: border-box;
        background: #ffb6c1;
    }
    .notification-header {
        color: white;
    }
    main {
        padding: 0 25px;
    }
</style>
    {% load static %}
    <div class="col-1">

    </div>
    <div class="col-2">
        
    </div>
    <div class="col-3">

    </div>
    {% if notifications %}
        <h2 class="notification-header">اعلامیه ها</h2>
        <div class="notifications">
            {% for notif in notifications %}
                <div class="notif">
                    <h2>{{ notif.to }}</h2>
                    <h3>اعلامیه شماره {{ notif.id }}</h3>
                    <p>{{ notif.message }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}